.DS_Store
build/files/*
build/temp/*
docs/api/*
dev.html
projects
.zenflow-log
test/*.map
.bunyipconfig.js
.s3config.json

node_modules
npm-debug.log

sandbox/*
!sandbox/*.example

*.swp
*.swo

*.orig

*results.xml
*.log

test/coverage/*
.coveralls.yml
.sass-cache


.idea/

dist/alt/video.novtt.js
dist/alt/video.novtt.min.js
dist/alt/video.novtt.min.js.map
dist/video-js-1.0.27.zip
